<link rel="stylesheet" type="text/css" href="/footer.css">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One|Playball&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Enriqueta&display=swap" rel="stylesheet"> 
<div class="footer">
    <div class="inner-footer>"
    <h2><strong>IVERY DESIGN</strong></h2>
         <p>for more information , email websimran123@gmail.com</p>
         <p>INSTAGRAM  PINTEREST FACEBOOK HOUZZ</p>
  </div>
  </div>